---
import { Image } from 'astro:assets'

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/*.{jpeg,jpg}',
)

interface Props {
  imageName: string
}

const { imageName } = Astro.props

const image = images[`/${imageName}`]
---

<div class="flex h-dvh items-center justify-center">
  <Image
    src={image()}
    alt={imageName}
    width={1600}
    densities={[1, 2]}
    class="mx-auto h-auto max-h-full w-auto max-w-full"
    transition:name={`/${imageName}`}
  />
</div>
