---
import { Image } from 'astro:assets'

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/*.{jpeg,jpg}',
)
---

<ul class="masonry py-8">
  {
    Object.entries(images).map(([n, img]) => (
      <li>
        <a href={`/detail${n}`} class="block">
          <Image
            src={img()}
            alt={n
              .split('/')
              .pop()!
              .replace(/\.(jpeg|jpg)$/, '')}
            width={400}
            densities={[1, 2]}
            transition:name={n}
            class="h-auto w-full"
          />
        </a>
      </li>
    ))
  }
</ul>

<style>
  @supports (grid-template-rows: masonry) {
    .masonry {
      @apply grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
      grid-template-rows: masonry;
    }
  }

  @supports not (grid-template-rows: masonry) {
    .masonry {
      @apply columns-1 break-inside-avoid sm:columns-2 lg:columns-3 xl:columns-4;

      & li {
        @apply mb-4;
      }
    }
  }
</style>
